@model List<string>

@{
    ViewData["Title"] = "My Electron Music Player";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
</head>
<body>
    <h3>My Music!</h3>
    <ul>
        <!--loops through files I created in controller for music-->
        @foreach (string musicFile in Model)
        {
            <li>
                @System.IO.Path.GetFileNameWithoutExtension(musicFile)

                <button onclick="playMusic('@musicFile.Replace(@"\", "/")')">Play</button>
            </li>
        }
    </ul>
    <script>

        //js function that should actually play the listed music file
        function playMusic(musicFile) {
            let audio = new Audio(`file:///${musicFile}`);
            audio.play();
        }

    </script>
</body>
</html>

